body{
    margin: 0;
    padding: 0;
    background: #d8ccc9;
}
.search-box{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
}
.search-box:hover > .search-txt{
    width: 400px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: white;
}
.search-box:hover > .voice-btn{
    background: white;
}
.search-box:hover > .image-btn{
    background: white;
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.voice-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-label{
    position: absolute;
    top: 25%;
    left: 41%;
    color: #e84118;
    width: 50px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-radio{
    position: absolute;
    top: 25%;
    left: 45%;
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.images-label{
    position: absolute;
    top: 25%;
    left: 51%;
    color: #e84118;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.images-radio{
    position: absolute;
    top: 25%;
    left: 55%;
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.trends-label{
    position: absolute;
    top: 25%;
    left: 61%;
    color: #e84118;
    width: 50px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.trends-radio{
    position: absolute;
    top: 25%;
    left: 65%;
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.countries-list{
    position: absolute;
    top: 25%;
    left: 32%;
    color: #e84118;
    width: 100px;
    height: 40px;
    border-radius: 30%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.results{
    position: absolute;
    top: 45%;
    left: 2%;
    border: thin;
    text-align: left;
}
